@using OnLIneSHOP.Models.Base
@model User
@{
    ViewData["Title"] = "OnLineSHOP";
}
<h1>SIGN IN</h1>
<p>our products</p>
<ul class="photos">
<img title= " toy phone" src="~/images/geophone.png"></img>
<img title="Motorola" src="~/images/Motorola.jpg"></img>
<img title="double phone"src="~/images/double.jpg"></img>
<img title="retro " src="~/images/Truman.png"></img>
</ul>

<form method="post" asp-controller="User" asp-action="Check">
    <label asp-for="UserName"></label>
    <input asp-for="UserName" />
    <span asp-validation-for="UserName"></span>
    <label asp-for="Password"></label>

    <input asp-for="Password" />
    <span asp-validation-for="Password"></span>
    <input type="submit" value="Press here" />
</form>
